{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-1 order-md-1">
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
        {{/* {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }} */}}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-2 order-md-2 position-relative">
        <img alt={{ .Title }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ else }}
      <div class="col-12 col-md-5 col-lg-6 order-2 order-md-2 position-relative">
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe src="https://www.youtube.com/embed/vgRY8ockJ6k?autoplay=1"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen
            title="YouTube Video"></iframe>
        </div>
        {{/* <img alt={{ .Title }} class="intro-image{{ if .Params.intro_image_absolute }}
        intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" /> */}}
      </div>
      {{ end }}
    </div>
  </div>
</div>



{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ range first 6 (sort $services ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    {{ if .Site.Params.homepage.show_services_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ " services/" | relURL }}">View All Services</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo"
              src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

<!-- contact Form -->
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">

    {{ if .Site.Params.homepage.show_contact_box }}
    {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
    {{ end }}
  </div>
</div>
<!-- End Contact Form -->

{{ end }}

{{ define "footer_js" }}

<!-- Place this script at the end of the body tag -->
<script>
  let form = document.getElementById("contactForm");
  async function handleSubmit(event) {
    event.preventDefault();
    let status = document.getElementById("contactForm-status");
    let statusContainer = status.parentNode;
    let formData = new FormData(event.target);
    console.log(new URLSearchParams(formData).toString());
    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    }).then(response => {
      console.log("Form successfully submitted")
      if (response.ok) {
        status.innerHTML = "Your message has been received. We'll get back to you Shortly!";
        statusContainer.classList.add('alert-success');
        statusContainer.classList.remove('d-none');
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            statusContainer.classList.add('alert-error');
            statusContainer.classList.remove('d-none');
          } else {
            status.innerHTML = "Oops! There was a problem submitting your form";
            statusContainer.classList.add('alert-error');
            statusContainer.classList.remove('d-none');
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem submitting your form"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
{{ end }}